PORT=8080
NODE_ENV=development


# Database
MONGO_URI=mongodb+srv://Mona-Admin:Mona@2025@monacluster.2qpulvw.mongodb.net/?retryWrites=true&w=majority&appName=MonaCluster


# JWT Configuration
JWT_SECRET=Kabir2025
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=Shaikh2025

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_RWRsCla6l1BCjD
RAZORPAY_KEY_SECRET=tLFP0NlYVScCnkmn9syaCdl4
RAZORPAY_WEBHOOK_SECRET=Kabir7861

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

# Admin Configuration
ADMIN_INIT_EMAIL=admin@monadesigners.com
ADMIN_INIT_PASSWORD=Admin123!

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
